body {
  width: 100%;
  margin: 0;
  padding: 0;
  color: white;
  background-color: black;
  /* background-color: #333; */
  font-family:  Verdana, sans-serif;
  font-size: 100%
}

#imageTab {
  /* width: 100%; */
  padding: 0px;
  border:  0px;
  margin:  0px;
  position: absolute;
  top:      0px;
  left:     0px;

  background-color: #333;
}

#image1, #image2 {
  width:  100px;
  height: 100px;
  margin:  0px;
  /* border:  1px solid red; /* test */
  padding: 0px;

  position: absolute;
  /* top:  100px;   /* dummys */
  /* left: 100px;             */

  /* display : block; /* set by class */
}

.editTab {
  display:    block;
  position:   absolute;
  min-height: 80%;
  right:      0px;
  top:        0px;

  background-color: #555;
}

.editTabCont {
  width:      100%;

  border:           2px solid #333;
  padding:          1ex;
  background-color: #555;
}

/* -------------------- */
/* collection page */

.collection {
  /* width: 100%; */
  /* border: 1px solid red; */
  /* background-color: #555; */

  overflow: auto;
  display: block;
}

.collection-header {
  width: 100%;
  /* border: 1px solid green;  /* test */
}

.collection-header-icon {}
.collection-header-title {}

.collection-footer {
  width: 100%;
  /* border: 1px solid green; /* test */
}

.collection-contents {
  width: 100%;
  /* border: 1px solid blue; /* test */
  margin-bottom: 0.5em;
  margin-top: 0.5em;
}

.collection-blog {
  max-width: 50em;
}

.collection-blog h1 {
  font-size:   1.6em;
  font-weight: bold;
  margin-block: 0.6em;
}

.collection-blog h2 {
  font-size:   1.3em;
  font-weight: bold;
  margin-block: 0.4em;
}

.collection-blog p {
  margin-block: 0.4em;
}

.navicon {
  background-color: #444;
}

.iconborder {
  border: 1px solid #444;
}

/* -------------------- */
/* metadata table */

#info {
  max-width: 100%;
  border: 1px solid #333;
  padding: 1ex;
  color: #eee;
  background-color: rgb(102,102,102);

  visibility: visible;
  /* opacity: 0.8; */

  position: absolute;
  bottom: 0px;
  left:0px;

  overflow: auto;

  /* display: none; */
}

#help {
  max-width: 100%;
  border: 1px solid #333;
  padding: 1ex;
  color: #eee;
  background-color: rgb(102,102,102);

  visibility: visible;
 /* opacity: 0.8; */

  position: absolute;
  bottom: 0px;
  left:0px;

  overflow: auto;

  /* display: none; */
}

#status {
  max-width: 50em;
  border: 1px solid #333;
  padding: 1ex;
  color: #eee;
  background-color: rgb(102,102,102);

  visibility: visible;
  /* opacity: 0.8; */

  position: absolute;
  bottom: 0px;
  right:0px;

  overflow: auto;

  /* display: none; */
}

span.errormsg {
  color: #800;
}

#info > h1 {
  font-size: 1.4em;
  font-weight: bold;
}

#info-table {
  grid-column-gap: 1em;
  grid-template-columns: auto auto;

  display: grid;
}

#help-table {
  grid-column-gap: 1em;
  grid-template-columns: auto auto;

  display: grid;
}

div.key {
  font-weight: bold;
  /* border: 1px solid yellow; */
  padding: 0.1em;
  text-align: right;
}

div.value {
  /* border: 1px solid yellow; */
  padding: 0.1em;
  text-align: left;
}

span.rating {
  color : red;
  font-weight: bold;
}

/* -------------------- */

div.blog {
  padding-left:     1em;
  padding-right:    1em;
  background-color: #eee;
  color:            #333;
}

img.gif {
  background-color: #eee;
}

div.ruler {
  background-color: #333;
}

.title  {
  font-size:   1.4em;
  font-weight: bold;
}

.subtitle {
  font-size:   1.15em;
  font-weight: bold;
}

.comment {
  font-weight: bold;
}

/* links */

a {
  text-decoration: none;
}

a:link {
  text-decoration: none;
  color:           #ffff00;
}

a:visited {
  text-decoration: none;
  color:           #ffff00;
}

a:hover {
  text-decoration: none;
  color:           #ff9900;
}

a:active {
  text-decoration: none;
  color:           #ff0000;
}

a:focus {
  text-decoration: none;
  color:           #ff0000;
}
/* ---------------------------------------- */
/* fadein fadeout animation */

@keyframes kf-fadein-image {
  0% {opacity: 0.0}
  100% {opacity: 1.0}
}

@keyframes kf-fadeout-image {
  0% {opacity: 1.0}
  100% {opacity: 0.0}
}

.hidden-image {
  display: none;
  /* opacity: 0.0; */
}

.fadein-image {
  display:             block;
  opacity:             0;
  animation-name:      kf-fadein-image;
  animation-duration:  1s;       /* default */
  animation-fill-mode: forwards;
}

.visible-image {
  display: block;
  opacity: 1.0;
}

.fadeout-image {
  display:             block;
  animation-name:      kf-fadeout-image;
  animation-duration:  1s;       /*default */
  animation-fill-mode: forwards;
}

@keyframes kf-fadein-info {
  0% {opacity: 0.0}
  100% {opacity: 0.8}
}

@keyframes kf-fadeout-info {
  0% {opacity: 0.8}
  100% {opacity: 0.0}
}

.hidden-info {
  display: none;
  opacity: 0.0;
}

.fadein-info {
  display:             block;
  animation-name:      kf-fadein-info;
  animation-duration:  0.5s;
  animation-fill-mode: forwards;
}

.visible-info {
  display: block;
  opacity: 0.8;
}

.fadeout-info {
  display:             block;
  animation-name:      kf-fadeout-info;
  animation-duration:  0.5s;
  animation-fill-mode: forwards;
}

/* -------------------- */

/* convenience classes */

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

/* -------------------- */

#edit-geo {
  border-width: 2px;
  border-color: red;
  padding: 5px;
  background-color: rgb(102 102 102);
  visibility: visible;
  opacity: 0.7;
  z-index: 10;
}

div.edit-label {
  font-size: 1.0em;
  font-weight: bold;
  margin-top: 0.4em;
  margin-bottom: 0.4em;
}

div.align-buttons {
  display: grid;
  grid-template-columns: 1.8em 1.8em 1.8em;
  grid-gap: 5px;
}

div.scale-buttons {
  display: grid;
  grid-template-columns: 1.8em 1.8em 1.8em 1.8em 1.8em;
  grid-gap: 5px;
}

input.edit-button {
  padding: 2px;
  border: 1px solid black;
  width: 2.2em;
  height: 2.2em;
}

/* -------------------- */
