body {
  width: 100%;
  margin: 0;
  padding: 0;
  color: white;
  background-color: #333;
  font-family:  Verdana, sans-serif;
  font-size: 100%
}

#imageTab {
  /* width: 100%; */
  padding: 0px;
  border:  0px;
  margin:  0px;

  /*  background-color: #555; */

  position: absolute;
  top:      0px;
  left:     0px;
}
#image1 {
  width:  100px;
  height: 100px;
  margin:  0px;
  /* border:  1px solid red; /* test */
  padding: 0px;

  position: absolute;
  top: 100px;
  left: 100px;

  display : block;
}
#image2 {
  width:  100px;
  height: 100px;
  margin:  0px;
  /* border:  1px solid green; /* test */
  padding: 0px;

  position: absolute;
  top: 100px;
  left: 100px;

  display : none;
}

/* -------------------- */
/* collection page */

#collection {
  /* width: 100%; */
  /* border: 1px solid red; */
  /* background-color: #555; */

  overflow: auto;
  display: block;
}

#collection-header {
  width: 100%;
  /* border: 1px solid green;  /* test */
}

#collection-footer {
  width: 100%;
  /* border: 1px solid green; /* test */
}

#collection-contents {
  width: 100%;
  /* border: 1px solid blue; /* test */
  margin-bottom: 0.5em;
  margin-top: 0.5em;
}

#collection-blog {
  max-width: 50em;
}

#collection-blog h1 {
  font-size:   1.6em;
  font-weight: bold;
  margin-block: 0.6em;
}

#collection-blog h2 {
  font-size:   1.3em;
  font-weight: bold;
  margin-block: 0.4em;
}

#collection-blog p {
  margin-block: 0.4em;
}

.navicon {
  background-color: #444;
}

.iconborder {
  border: 1px solid #444;
}

/* -------------------- */
/* metadata table */

#info {
  max-width: 100%;
  border: 1px solid #333;
  padding: 1ex;
  color: #eee;
  background-color: rgb(102,102,102);

  visibility: visible;
  /* opacity: 0.8; */

  position: absolute;
  bottom: 0px;
  left:0px;

  overflow: auto;

  /* display: none; */
}

#help {
  max-width: 100%;
  border: 1px solid #333;
  padding: 1ex;
  color: #eee;
  background-color: rgb(102,102,102);

  visibility: visible;
 /* opacity: 0.8; */

  position: absolute;
  bottom: 0px;
  left:0px;

  overflow: auto;

  /* display: none; */
}

#status {
  max-width: 50em;
  border: 1px solid #333;
  padding: 1ex;
  color: #eee;
  background-color: rgb(102,102,102);

  visibility: visible;
  /* opacity: 0.8; */

  position: absolute;
  bottom: 0px;
  right:0px;

  overflow: auto;

  /* display: none; */
}

@keyframes fadein {
    0% {opacity: 0.0}
  100% {opacity: 0.8}
}

@keyframes fadeout {
    0% {opacity: 0.8}
  100% {opacity: 0.0}
}

.hiddenInfo {
  display: none;
  opacity: 0.0;
}

.fadeinInfo {
  display:             block;
  animation-name:      fadein;
  animation-duration:  0.5s;
  animation-fill-mode: forwards;
}

.visibleInfo {
  display: block;
  opacity: 0.8;
}

.fadeoutInfo {
  display:             block;
  animation-name:      fadeout;
  animation-duration:  0.5s;
  animation-fill-mode: forwards;
}

span.errormsg {
  color: #800;
}

#info > h1 {
  font-size: 1.4em;
  font-weight: bold;
}

#info-table {
  grid-column-gap: 1em;
  grid-template-columns: auto auto;

  display: grid;
}

#help-table {
  grid-column-gap: 1em;
  grid-template-columns: auto auto;

  display: grid;
}

div.key {
  font-weight: bold;
  /* border: 1px solid yellow; */
  padding: 0.1em;
  text-align: right;
}

div.value {
  /* border: 1px solid yellow; */
  padding: 0.1em;
  text-align: left;
}

span.rating {
  color : red;
  font-weight: bold;
}

/* -------------------- */

div.blog {
  padding-left:     1em;
  padding-right:    1em;
  background-color: #eee;
  color:            #333;
}

img.gif {
  background-color: #eee;
}

div.ruler {
  background-color: #333;
}

.title  {
  font-size:   1.4em;
  font-weight: bold;
}

.subtitle {
  font-size:   1.15em;
  font-weight: bold;
}

.comment {
  font-weight: bold;
}

/* links */

a {
  text-decoration: none;
}

a:link {
  text-decoration: none;
  color:           #ffff00;
}

a:visited {
  text-decoration: none;
  color:           #ffff00;
}

a:hover {
  text-decoration: none;
  color:           #ff9900;
}

a:active {
  text-decoration: none;
  color:           #ff0000;
}

a:focus {
  text-decoration: none;
  color:           #ff0000;
}
/* -------------------- */
