body {
  width: 100%;
  margin: 0;
  padding: 0;
  color: white;
  background-color: #333;
  font-family:  Verdana, sans-serif;
}

#imageTab {
  /* width: 100%; */
  padding: 0px;
  border:  0px;
  margin:  0px;

  background-color: #555;

  position: absolute;
  top:      0px;
  left:     0px;
}
#collectionTab {
  width:   100%;
  margin:  0px;
  border:  0px;
  padding: 0px;

  background-color: #500;

  position: absolute;
  top:      0px;
  left:     0px;

  display: none;
}
#image1 {
  width:  100px;
  height: 100px;
  margin:  0px;
  border:  1px solid red;
  padding: 0px;

  position: absolute;
  top: 100px;
  left: 100px;

  display : block;
}
#image2 {
  width:  100px;
  height: 100px;
  margin:  0px;
  border:  1px solid green;
  padding: 0px;

  position: absolute;
  top: 100px;
  left: 100px;

  display : none;
}
#info {
  max-width: 100%;
  border: 1px solid blue;
  padding: 1ex;
  color: #eee;
  background-color: rgb(102,102,102);

  visibility: visible;
  opacity: 0.8;

  position: absolute;
  bottom: 0px;
  left:0px;

  overflow: auto;

  display: none;
}

/* -------------------- */
/* info table */

#info > h1 {
  font-size: 28px;
  font-weight: bold;
}
#info-table {
  grid-column-gap: 1em;
  grid-template-columns: auto auto;

  display: grid;
}
#info-table > div.key {
  font-weight: bold;
  border: 1px solid yellow;
  padding: 0.5ex;
  text-align: right;
}
#info-table > div.value {
  border: 1px solid yellow;
  padding: 0.5ex;
  text-align: left;
}

span.rating {
  color : red;
  font-weight: bold;
}

/* -------------------- */

div.blog {
  padding-left:     1em;
  padding-right:    1em;
  background-color: #eee;
  color:            #333;
}

img.gif {
  background-color: #eee;
}
